// Colors
$dark-blue-gray: #0c0e1a;
$light-text: #c4bccA;
$dark-blue: #4260ac;
$fuchsia: #c056b0;
$light-gray: #e3e6ed;
$light-pink: #f6b4e7;
$cyan: #63ceff;
$off-white: #f9fcff;
$cherry-red: #990033;
$light-green: #8ccb88;
$pastel-yellow: #daa520;
$dark-gray: #4e4e4e;
$black: #000000;
$dark-salmon: #e24e63;
$main-container-blue: rgba(7, 9, 15, 0.77);
$workspace-background-blue: rgba(7, 9, 15, 1);
