/* GLOBAL SETTINGS */
@import "colors.scss";

@mixin transition-bg-color($color, $duration, $timing) {
  color: $color;
  transition: color $duration $timing;
}

*{
  font-family: 'JetBrains Mono ExtraBold';
  font-size:1.2rem;
  background-color:transparent;
  border:none;
}

/* OVERALL BAR SETTINGS */
.main-container {
  padding:1px 10px 1px 10px;
  background-color: $main-container-blue;
  border-radius: 80px;
  border: 3px solid rgba(00,00,00,0.7);
  margin-bottom: 0.7rem;
}

.white-border {
  margin-top: 10px;
  border-top: 3px solid rgba(256,256,256,0.7);
  margin-bottom: -5px;
}

/* WORKSPACES SETTINGS */
.workspaces {
  padding: 5px;
}

.workspaces button {
  padding: 2px;
  border:1px;
}

.workspaces button:hover {
  background-color: $dark-salmon;
}

.default-workspace {
  background-color: $workspace-background-blue;
  border-radius:3px;
}

/* SETS COLOR OF WORKSPACE BUTTONS */
.occupiedWindow {
  background-color: $cherry-red;
  color: $off-white;
}

.firstScreen{
  background-color: pink;
  color: $black;
}
.secondScreen{
  background-color: #fa8072;
  color: $black;
}
.thirdScreen{
  background-color: #dddddd;
  color: $black;
}
.fourthScreen{
  background-color: #ffa07a;
  color: $cherry-red;
}

/* TRACKERS SETTINGS */
.trackerIcons,
.trackerMetric slider,
.trackerMetric scale trough highlight,
.trackerMetric scale trough,
.circularMetric,
.circularMetric button,
.circularMetric label,
.circularMetric circular-progress,
.margin-separate button {
  all: unset;
}

.trackerMetric scale trough highlight {
  background-color: $cherry-red;
  color: black;
  border-radius: 10px;
}

.trackerMetric scale trough {
  background-color: $dark-gray;
  border-radius: 50px;
  min-height: 4px;
  min-width: 40px;
}

.circularMetric{
  margin-right:4px;
}

.circularMetric label{
  font-family: 'JetBrains Mono Medium';
  margin-right: 4px;
  font-size: 1em;
}

.circularMetric circular-progress{
  margin:1px;
  color: $cherry-red;
  background-color: $dark-gray;
}

/* BATTERY WIDGETS COLORS */

.Battery circular-progress{
  @include transition-bg-color($pastel-yellow, 0.7s, ease-in-out);
}

.Balanced circular-progress{
  @include transition-bg-color($cyan, 0.7s, ease-in-out);
}

.Performance circular-progress{
  @include transition-bg-color($light-pink, 0.7s, ease-in-out);
}

.Not circular-progress{
  @include transition-bg-color($off-white, 0.7s, ease-in-out);
}

.Charging circular-progress{
  @include transition-bg-color($light-green, 0.7s, ease-in-out);
}

.low circular-progress{
  @include transition-bg-color($light-green, 0.7s, ease-in-out);
}

.medium circular-progress{
  @include transition-bg-color($pastel-yellow, 0.7s, ease-in-out);
}

.high circular-progress{
  @include transition-bg-color($dark-salmon, 0.7s, ease-in-out);
}

/*TIME AND CALENDAR SETTINGS*/
.time_box {
  margin-top: -20px;
  margin-bottom: -20px;
  background-color:transparent;
  color: white;
}

.time {
  font-family: "JetBrains Mono Medium";
  color: $off-white;
  font-size: 1.4rem;
}

.popup-window {
  font-family: 'JetBrains Mono Medium';
  font-size: 1em;
  background-color: $dark-blue-gray;
  color: $off-white;
  border: 3px solid $cherry-red-transparent;
  border-radius: 5px;
  padding: 10px;
  * {
    font-family: inherit;
    font-size: inherit;
  }
}

.popup-window button{
  margin-bottom:10px;
}

.settings-wheel {
  font-size:1.3em;
}

.margin-separate label{
  margin-right: 15px;
  margin-left: 5px;
}

.current-window-title {
  min-width: 8rem;
  margin-left: 2rem;
}
