/* GLOBAL SETTINGS */
@import "colors.scss";

.dock {
  background-color: $main-container-blue;
  border-radius: 10px;
  padding: 5px;
}

.dock-icon {
  padding: 5px;
  border-radius: 5px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
